.container-fluid{
    padding-top: 2rem;
    padding-left:5rem;
    padding-right:1rem;
  }
  #second_row{
    padding-top:1rem;
  }
  #third{
    padding-top: 1rem;
  }
  #button{
    padding-top: 1rem;
  }
  #ontime{
    padding-top: 3rem;
  }
  .alert alert-danger{
    padding-right: 2rem;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
.form-check-label{
  padding-left: 3rem;
}
.form-check-input{
  padding-left: 2rem;
}
.gender{
  padding-bottom: 5rem;
}
#inlineRadio1{
  padding-right: 1rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
