<form [formGroup]="loginform">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <input type="text" class="" id="customControlValidation1" placeholder="First Name" formControlName="firstname"
            required />
          <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
            <div *ngIf="firstname.errors?.required">firstname is required.</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 ">
          <input type="text" class="" id="customControlValidation2" placeholder="LastName" formControlName="lastname"
            required />
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
            <div *ngIf="lastname.errors?.required">lastname is required.</div>
  
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <input type="text" class="" id="customControlValidation3" placeholder="Email" formControlName="email"
            required />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.required">email is required.</div>
  
          </div>
        </div>
      </div>
      <div class="row" id="second_row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <input type="text" class="" id="customControlValidation4" placeholder="Phone" maxlength="10"
            formControlName="phone_no" required />
          <div *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)" class="alert alert-danger">
            <div *ngIf="phone_no.errors?.required">phone_no is required.</div>
  
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 " id="customControlValidation5">
  
          <select id="testType" formControlName="country">
            <option value="">Select country...</option>
            <option *ngFor="let country_name of countryArray" [ngValue]="country_name">{{country_name.name}}</option>
          </select>
         
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" id="customControlValidation6">
  
          <select id="testType" formControlName="state">
            <option value="">Select State... </option>
              <option *ngFor="let state_name of stateArray1" [ngValue]="state_name">{{state_name.name}} </option>
          </select>
         
        </div>
      </div>
  
      <div id="customControlValidation6">
        <div id="third">
          Gender:
          <div class="gender" >
          <input class="form-check-input" type="radio"  id="inlineRadio1" value="Male" formControlName="gender"/>
          <label class="form-check-label" for="inlineRadio1">Male</label>
  
          <input class="form-check-input" type="radio"  id="inlineRadio2" value="Female" formControlName="gender"/>
          <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
          

          <div >
            <!-- calender date -->
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" 
          value="" 
          formControlName="calender">
          </ngb-datepicker>
          <!-- calender css control -->
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                  >
              {{ date.day }}
            </span>
          </ng-template>
          <!-- <pre>From: {{ fromDate | json }} </pre> -->
        </div>
          <div id="button">
            <button type="button" class="btn btn-primary btn-lg" (click)="submit()">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </form>
 
